<a href="https://colab.research.google.com/github/MacFernand/Python/blob/master/Aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Montando o driver

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Tabela de dados

In [0]:
%load_ext google.colab.data_table

In [0]:
from google.colab import data_table

Importando Bibliotecas

In [0]:
import pandas as pd
import random as rd
import numpy  as np

Importando banco de dados

In [0]:
df_promo = pd.read_csv('/content/sample_data/CAR.csv', sep=';')

In [0]:
df_ = pd.read_csv('/content/drive/My Drive/Projetos/Promofarma/Base/FUNCIONA.txt', sep='\t')

In [0]:
df_ban = pd.read_csv('/content/drive/My Drive/Projetos/Bras/BANCOS.txt', sep=';')

In [0]:
df_func = pd.read_csv('/content/drive/My Drive/Projetos/Bras/FUNCIONA.txt', sep=';')

Manipulando dados

In [0]:
df_promo

In [0]:
df_.head(5)

In [0]:
df_ban

In [0]:
df_func

In [50]:
type(df_func)

pandas.core.frame.DataFrame

In [0]:
# Show last few rows
list(df_func)

In [53]:
# Data type of each column
df_func.tail

<bound method NDFrame.tail of      FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0         202          1  ...                            0                NaN
1         202          2  ...                            0                NaN
2         202          3  ...                            0                NaN
3         202          4  ...                            0                NaN
4         202          5  ...                            0                NaN
..        ...        ...  ...                          ...                ...
127       202    3193717  ...                            0                NaN
128       203          1  ...                            0                NaN
129       203          2  ...                            0                NaN
130       203          3  ...                            0                NaN
131       203          4  ...                            0                NaN

[132 rows x 208 columns]>

In [54]:
# Return number of columns and rows of dataframe
df_func.shape

(132, 208)

In [55]:
#  Number of rows
len(df_func.index)

132

In [56]:
# Number of columns

len(df_func.columns)

208

In [61]:
# Basic statistics
df_func.describe()

         FUCODEMP  ...  FUMATRICULAESOCIAL
count  132.000000  ...                 0.0
mean   202.030303  ...                 NaN
std      0.172073  ...                 NaN
min    202.000000  ...                 NaN
25%    202.000000  ...                 NaN
50%    202.000000  ...                 NaN
75%    202.000000  ...                 NaN
max    203.000000  ...                 NaN

[8 rows x 159 columns]

In [65]:
# Extract first three rows

df_func[0:3]

   # or
    
df_func.iloc[:3]

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0       202          1  ...                            0                NaN
1       202          2  ...                            0                NaN
2       202          3  ...                            0                NaN

[3 rows x 208 columns]

In [114]:
# Filter for black hair

df_func[df_func['FUCBO']=="411010"]

     # or
    
df_func.query("FUCBO =='411010'")

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0         202          1  ...                            0                NaN
1         202          2  ...                            0                NaN
2         202          3  ...                            0                NaN
3         202          4  ...                            0                NaN
4         202          5  ...                            0                NaN
5         202          6  ...                            0                NaN
6         202          7  ...                            0                NaN
7         202          8  ...                            0                NaN
13        202    3190552  ...                            0                NaN
14        202    3190609  ...                            0                NaN
26        202    3191770  ...                            0                NaN
27        202    3191818  ...                            0                NaN
29        202    3192113  ...                            0                NaN
30        202    3192296  ...                            0                NaN
32        202    3192369  ...                            0                NaN
34        202    3192636  ...                            0                NaN
36        202    3192792  ...                            0                NaN
37        202    3192806  ...                            0                NaN
38        202    3192822  ...                            0                NaN
46        202    3193268  ...                            0                NaN
51        202    3193373  ...                            0                NaN
52        202    3193381  ...                            0                NaN
58        202    3193470  ...                            0                NaN
65        202    3193543  ...                            0                NaN
66        202    3193551  ...                            0                NaN
81        202    3193671  ...                            0                NaN
93        202    3193683  ...                            0                NaN
123       202    3193713  ...                            0                NaN
125       202    3193715  ...                            0                NaN

[29 rows x 208 columns]

In [113]:
# Filter for males who have black hair

df_func[(df_func['FUCODSITU']=="48")  & (df_func["FUSEXFUNC"]=="M")]

   # or

df_func.query("FUCODSITU == '48' & FUSEXFUNC =='M'")

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
1       202          2  ...                            0                NaN
4       202          5  ...                            0                NaN
5       202          6  ...                            0                NaN
6       202          7  ...                            0                NaN

[4 rows x 208 columns]

In [112]:
# Filter for those who have brown eye or black hair

z = df_func[(df_func['FUCODSITU']=="48") | (df_func["FUBAIRRO"]=="MEIER")]

   # or
z = df_func.query("FUCODSITU == '48' | FUBAIRRO =='MEIER'")

z.head(6)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0       202          1  ...                            0                NaN
1       202          2  ...                            0                NaN
2       202          3  ...                            0                NaN
4       202          5  ...                            0                NaN
5       202          6  ...                            0                NaN
6       202          7  ...                            0                NaN

[6 rows x 208 columns]

In [0]:
# Filter for eye color of blue, hazel and green

df_func[df_func.Eye.isin(['MEIER','ENGENHO NOVO','BENFICA'])].head()

In [81]:
# Select one column
df_func[["FUBAIRRO"]].head()

    # or

df_func.FUBAIRRO.head()

0            MEIER
1     ENGENHO NOVO
2          BENFICA
3           LEBLON
4    SAO CRISTOVAO
Name: FUBAIRRO, dtype: object

In [84]:
# Select two columns

df_func[["FUCODSITU","FUSEXFUNC"]].head()

   FUCODSITU FUSEXFUNC
0         48         F
1         48         M
2         48         F
3         49         F
4         48         M

In [85]:
# Unique Eye colors

df_func["FUBAIRRO"].unique()

array(['MEIER', 'ENGENHO NOVO', 'BENFICA', 'LEBLON', 'SAO CRISTOVAO',
       'IRAJA', 'FONSECA', 'MESQUITA', 'BARRA DA TIJUCA', 'TIJUCA',
       'VILA ISABEL', 'HIGIENOPOLIS', 'ANDRADE ARAUJO', 'JACAREPAGUA',
       'FREGUESIA / JACAREPAGUA', 'JABOUR', 'BOTAFOGO', 'JARDIM BOTANICO',
       'BENTO RIBEIRO', 'ANIL', 'CAMPO GRANDE', 'SARGENTO RONCALLI',
       'ROCHA MIRANDA', 'RICARDO DE ALBUQUERQ', 'TOMAS COELHO',
       'COPACABANA', 'FLAMENGO', 'CAMPOS ELISEOS', 'ANIL - JACAREPAGUA',
       'RAMOS', 'PARADA QUARENTA', 'JARDIM ESPLANADA', 'BELA VISTA',
       'FREGUESIA/JACAREPAGUA', 'FREGUESIA JACAREPAGU', 'ITAIPU',
       'CACHAMBI', 'VILA DA PENHA', 'ABOLIÃ‡ÃƒO', 'ICARAI', 'CENTRO',
       'GRAJAU', 'RIO COMPRIDO', 'CIDADE DE DEUS', 'MUTONDO', 'RIACHUELO',
       'BONSUCESSO', 'NILÃ“POLIS', 'PECHINCHA', 'BANGU', 'CORDOVIL',
       'LARANJEIRAS', 'IPANEMA', 'INGA', 'IRAJÃ',
       'RECREIO DOS BANDEIRANTES', 'GAVEA', 'OSWALDO CRUZ', 'OLARIA',
       'ANDARAI', 'CATETE', 'FRAGOSO', 'EDSON PASSOS', 'SANTA ROSA',
       'LINS DE VASCONCELOS', nan], dtype=object)

In [116]:
# Maximum of the "Freq" column

df_func.FUCODSITU.max()

58

In [93]:
# Call functions on multiple columns 

import numpy as np

pd.DataFrame({'Max_freq': [df_func.FUCODSITU.max()], \
             'Min_freq': [df_func.FUCODSITU.min()],\
             'Std_freq': [np.std(df_func.FUCODSITU)]})

   Max_freq  Min_freq   Std_freq
0        58         1  12.711995

In [94]:
# Maximum Frequency by Sex

df_func.groupby("FUSEXFUNC").agg({"FUCODSITU":"max"})

           FUCODSITU
FUSEXFUNC
                   2
F                 49
M                 58

In [117]:
# Count by Bairro Sexo and Sexo

df_func.groupby(["FUBAIRRO","FUSEXFUNC"]).agg({"FUCODSITU":"count"}).rename(columns={"FUCODSITU":"Count"}).head(50)

                                   Count
FUBAIRRO                FUSEXFUNC
ABOLIÃ‡ÃƒO                F              1
ANDARAI                 M              1
ANDRADE ARAUJO          M              1
ANIL                    F              1
ANIL - JACAREPAGUA      F              1
BANGU                   F              1
BARRA DA TIJUCA         F              5
                        M              4
BELA VISTA              M              1
BENFICA                 F              1
BENTO RIBEIRO           M              2
BONSUCESSO              M              2
BOTAFOGO                F              5
                        M              1
CACHAMBI                F              1
CAMPO GRANDE            F              1
CAMPOS ELISEOS          M              1
CATETE                  M              1
CENTRO                  M              2
CIDADE DE DEUS          M              1
COPACABANA              F              5
                        M              1
CORDOVIL                F              1
EDSON PASSOS            M              1
ENGENHO NOVO            M              4
FLAMENGO                F              2
                        M              1
FONSECA                 F              1
                        M              2
FRAGOSO                 F              1
FREGUESIA / JACAREPAGUA F              1
FREGUESIA JACAREPAGU    F              1
FREGUESIA/JACAREPAGUA   F              1
GAVEA                   M              1
GRAJAU                  F              2
HIGIENOPOLIS            F              1
ICARAI                  F              1
                        M              2
INGA                    F              1
IPANEMA                 F              1
                        M              1
IRAJA                   F              1
                        M              1
IRAJÃ                   F              1
ITAIPU                  F              1
JABOUR                  F              1
JACAREPAGUA             F              2
                        M              2
JARDIM BOTANICO         F              1
JARDIM ESPLANADA        M              1

In [100]:
# Call functions for grouping

df_func.assign(FUSEXFUNC = (df_func.FUCODSITU > 50)).groupby("FUSEXFUNC").agg({"FUSEXFUNC":"count"})\
.rename(columns ={"FUSEXFUNC":"Count"})

           Count
FUSEXFUNC
False        130
True           2

In [105]:
# Return the first occurance

df_func.query("FUBAIRRO == 'MEIER'")[:1]

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0       202          1  ...                            0                NaN

[1 rows x 208 columns]

In [106]:
# Return the last occurance

df_func.query("FUBAIRRO == 'MEIER'")[-1:]

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
115       202    3193705  ...                            0                NaN

[1 rows x 208 columns]

In [107]:
# Return a count

df_func[df_func.FUBAIRRO.isin(['MEIER','IPANEMA']) & (df_func.FUSEXFUNC=="M")].shape[0]

4

In [109]:
# Count for each group

df_func[df_func.FUBAIRRO.isin(['MEIER','IPANEMA']) & (df_func.FUSEXFUNC=="M")].\
groupby(["FUBAIRRO","FUSEXFUNC"]).agg({"FUCODSITU":"count"}).rename(columns={"FUCODSITU":"Count"})

                    Count
FUBAIRRO FUSEXFUNC
IPANEMA  M              1
MEIER    M              3

In [110]:
# Order in ascending order

df_func.sort_values(by='FUCODSITU').tail(6)

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
2         202          3  ...                            0                NaN
1         202          2  ...                            0                NaN
7         202          8  ...                            0                NaN
3         202          4  ...                            0                NaN
109       202    3193699  ...                            0                NaN
123       202    3193713  ...                            0                NaN

[6 rows x 208 columns]

In [119]:
# Order in descending order

df_func.sort_values(by='FUCODSITU', ascending = False).tail(6)

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
107       202    3193697  ...                            0                NaN
108       202    3193698  ...                            0                NaN
83        202    3193673  ...                            0                NaN
81        202    3193671  ...                            0                NaN
11        202    3190528  ...                            0                NaN
55        202    3193420  ...                            0                NaN

[6 rows x 208 columns]

In [122]:
# "FUCODSITU" in descending and "FUSEXFUNC" in ascending

df_func.sort_values(by=['FUCODSITU','FUSEXFUNC'], ascending = [False,True]).tail(50)

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
53        202    3193403  ...                            0                NaN
63        202    3193527  ...                            0                NaN
66        202    3193551  ...                            0                NaN
69        202    3193586  ...                            0                NaN
74        202    3193632  ...                            0                NaN
79        202    3193669  ...                            0                NaN
91        202    3193681  ...                            0                NaN
94        202    3193684  ...                            0                NaN
72        202    3193616  ...                            0                NaN
130       203          3  ...                            0                NaN
128       203          1  ...                            0                NaN
129       203          2  ...                            0                NaN
131       203          4  ...                            0                NaN
11        202    3190528  ...                            0                NaN
15        202    3190706  ...                            0                NaN
18        202    3191230  ...                            0                NaN
25        202    3191737  ...                            0                NaN
35        202    3192687  ...                            0                NaN
52        202    3193381  ...                            0                NaN
55        202    3193420  ...                            0                NaN
59        202    3193489  ...                            0                NaN
78        202    3193668  ...                            0                NaN
83        202    3193673  ...                            0                NaN
84        202    3193674  ...                            0                NaN
85        202    3193675  ...                            0                NaN
99        202    3193689  ...                            0                NaN
102       202    3193692  ...                            0                NaN
108       202    3193698  ...                            0                NaN
112       202    3193702  ...                            0                NaN
115       202    3193705  ...                            0                NaN
119       202    3193709  ...                            0                NaN
120       202    3193710  ...                            0                NaN
122       202    3193712  ...                            0                NaN
127       202    3193717  ...                            0                NaN
17        202    3190943  ...                            0                NaN
26        202    3191770  ...                            0                NaN
67        202    3193560  ...                            0                NaN
77        202    3193667  ...                            0                NaN
81        202    3193671  ...                            0                NaN
96        202    3193686  ...                            0                NaN
100       202    3193690  ...                            0                NaN
105       202    3193695  ...                            0                NaN
107       202    3193697  ...                            0                NaN
113       202    3193703  ...                            0                NaN
116       202    3193706  ...                            0                NaN
117       202    3193707  ...                            0                NaN
121       202    3193711  ...                            0                NaN
124       202    3193714  ...                            0                NaN
125       202    3193715  ...                            0                NaN
126       202    3193716  ...                            0                NaN

[50 rows x 208 columns]

In [124]:
# Rename columns

df_func.rename(columns = {"FUCODSITU":"SITUACAO","FUSEXFUNC":"SEXO"}).tail()

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
127       202    3193717  ...                            0                NaN
128       203          1  ...                            0                NaN
129       203          2  ...                            0                NaN
130       203          3  ...                            0                NaN
131       203          4  ...                            0                NaN

[5 rows x 208 columns]