<a href="https://colab.research.google.com/github/MacFernand/Python/blob/master/Aula4_Pesquisa_por_palavra_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conectando ao Driver

In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importando DataTable Google Colab

In [0]:
%load_ext google.colab.data_table

In [0]:
from google.colab import data_table

# Importando **Bibliotecas**

In [0]:
import pandas as pd
import random as rd
import numpy  as np
import matplotlib.pyplot as plt
%matplotlib inline

# **Importando banco de dados**

In [0]:
# Importando Dados de várias tabelas.
df_epg = pd.read_csv('/content/drive/My Drive/Projetos/Promofarma/Base/DadosPromo.csv', sep=';', names=list(range(500))).dropna(axis='columns', how='all')

In [0]:
# Importando Dados de várias tabelas.
df_epg = pd.read_csv('/content/drive/My Drive/Projetos/Promofarma/Base/DadosPromo.csv', sep=';', names=list(range(500))).dropna(axis='columns', how='all')

# **Pesquisa por palavra específica**

In [109]:
# Pesquisa por nome do cargo sem saber qual tabela ou linha está.
df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('ASSISTENTE DE T.I').any(), axis=1)]

       0    1                  2       3    4    ...  176  177  178  179  180
1910  0010  037  ASSISTENTE DE T.I  313220  NaN  ...  NaN  NaN  NaN  NaN  NaN

[1 rows x 181 columns]

In [110]:
# Pesquisa por nome do evento sem saber qual tabela ou linha está.
df2 = df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('Hora Extra 50%').any(), axis=1)]
df2.head(1)

      0               1               2   3    ...  177  178  179  180
1970  060  Hora Extra 50%  Hora Extra 50%   1  ...  NaN  NaN  NaN  NaN

[1 rows x 181 columns]

In [98]:
# Pesquisa por nome da empresa sem saber qual tabela ou linha está.
df2 = df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('ORGANIZAÇÃO FARMACÊUTICA NAKANO LTDA').any(), axis=1)]
df2

       0            1      2   3    ...  177  178  179  180
1941  0010  ORG LOJA 08  ADMIN   0  ...  NaN  NaN  NaN  NaN

[1 rows x 181 columns]

In [99]:
# Pesquisa por nome da coluna sem saber qual tabela ou linha está.
df2 = df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('IND_CODIGO_SALARIO').any(), axis=1)]
df2

             0           1     2           3    ...  177  178  179  180
3814  EMP_CODIGO  EPG_CODIGO  DATA  CAR_CODIGO  ...  NaN  NaN  NaN  NaN

[1 rows x 181 columns]

In [100]:
# Pesquisa por nome do estabelecimento sem saber qual tabela ou linha está.
df2 = df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('ORGANIZAÇÃO LOJA 10').any(), axis=1)]
df2

       0     1                    2     3    ...  177  178  179  180
2865  0010  0010  ORGANIZAÇÃO LOJA 10  0005  ...  NaN  NaN  NaN  NaN

[1 rows x 181 columns]

In [101]:
df_epg.iloc[2806]

0                            391
1      Arredondamento (Desconto)
2        Arredondamento Desconto
3                              2
4                            NaN
                 ...
176                          NaN
177                          NaN
178                          NaN
179                          NaN
180                          NaN
Name: 2806, Length: 181, dtype: object

In [0]:
#Passando como parâmetro do construtor um caminho, você terá um objeto que representa o diretório:
from pathlib import Path

path = Path('/content/drive/My Drive/Projetos/Bras/')

In [0]:
#Um dos métodos dessa classe é o glob, que pode buscar por arquivos que casam com um determinado nome:
letters_files = path.glob('BANCOS*.txt')

In [0]:
#Assim, você pode percorrer este iterável e utilizar o método read_text para obter o conteúdo de cada arquivo:
letters = [letter.read_text() for letter in letters_files]

In [0]:
from pathlib import Path

path = Path('/content/drive/My Drive/Projetos/Bras/', sep=',')
letters_files = path.glob('*.txt')
letters = [letter.read_text() for letter in letters_files]

print(letters)

In [0]:
letters

[]

In [81]:
from os import listdir

def listar_arquivos(caminho=None):
    lista_arqs = [arq for arq in listdir(caminho)]
    return lista_arqs

if __name__ == '__main__':
    arquivos = listar_arquivos(caminho="/content/drive/My Drive/Projetos/Bras/")
    print(arquivos)

['ATRIBADIC.txt', 'ATRIBUTO.txt', 'ATRIBENT.txt', 'ATRIBFUN.txt', 'CENCUSTO.txt', 'BANCOS.txt', 'BANCOSAG.txt', 'CARGOS.txt', 'EMPRESAS.txt', 'DEPSFIR.txt', 'EVEFUNC.txt', 'EVENTOS.txt', 'FOLHAS.txt', 'INSTITUICAO_ENSINO.txt', 'LOTACOESHIST.txt', 'OCORRENC.txt', 'OCORFUNC.txt', 'MUNICIP.txt', 'LOTACOES.txt', 'FUNCIONA.txt', 'PAISES.txt', 'TABAUX.txt', 'SINDICAT.txt', 'SITUACAO.txt', 'PROGEVE.txt', 'PENSIONI.txt', 'VALANO.txt']

In [103]:
import glob, os
os.chdir("/content/drive/My Drive/Projetos/Bras/")
for file in glob.glob("CARGOS*.txt"):
    print(file)

CARGOS.txt

In [0]:
>>> import glob
>>> for file in glob.glob('*.txt'):
...     for line in open(file):
...         if not line.strip().startswith('#'):
...             print (line)

In [108]:
line

'202;3193713;1009;20190901;20190901;0;58153;E;;0;55;0;1;0;0;469.13;0;;0|1|N;;;;0;0\n'

In [84]:

df_epg[df_epg.apply(lambda row: row.astype(str).str.contains('ORGANIZAÇÃO LOJA 10').any(), axis=1)]

       0     1                    2     3    ...  177  178  179  180
2865  0010  0010  ORGANIZAÇÃO LOJA 10  0005  ...  NaN  NaN  NaN  NaN

[1 rows x 181 columns]